<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap" rel="stylesheet">
    <title>Todo App</title>
</head>
<body>
    <div id="app">
        <h1>Todo App</h1>
        <div id="input-area">
            Name: <input type="text" placeholder="Name" v-model="nameInput"><br>
            Description: <input type="text" placeholder="Description" v-model="descriptionInput"><br>
            Done: <input type="checkbox" v-model="doneInput"><br>
            Date: <input type="date" v-model="dateInput"><br><br>
            Tags: <div class="tag-area" v-for="tag in usableTags"><input type="checkbox" v-model="tagsInput[tag]">{{ tag }}</div>
            <button @click="addToDo()">Add To Do</button>
        </div>
        <div id="list-area">
            <div class="todo" v-for="(todo, index) in todos">
                <!-- Name stuff -->
                <span class="todo-name" v-bind:class="{ strikethrough : todo.done }" v-if="editingIndex != index">{{ todo.name }}</span>
                <input class="todo-name" placeholder="Name" v-model="editingTodoCopy.name" v-if="editingIndex == index">
                <br>

                <!-- Description stuff -->
                Description: <span v-if="editingIndex != index">{{ todo.description }}</span>
                <input placeholder="Description" v-model="editingTodoCopy.description" v-if="editingIndex == index">
                <br>

                <!-- Done stuff -->
                Done: <span v-if="editingIndex != index">{{ todo.done }}</span>
                <input v-if="editingIndex == index" type="checkbox" v-model="editingTodoCopy.done">
                <br>

                <!-- Deadline stuff -->
                Deadline: <span v-if="editingIndex != index">{{ todo.deadline }}</span>
                <input v-if="editingIndex == index" type="date" v-model="editingTodoCopy.deadline">
                <br>

                <!-- Tag stuff -->
                <div v-if="editingIndex != index">Tags: {{ todo.tags }}</div>
                <!-- Add input when user is editing and model them in the javascript -->
                <div v-if="editingIndex == index" class="edit-tag-area">
                    Tags: <div v-for="(tag,index) in usableTags"><input type="checkbox" v-model="editingTags[index]">{{ tag }}</div>
                </div>


                <!-- Buttons -->
                <button class="green-button" v-if="editingIndex != index" v-on:click="editTodo(todo, index)">Edit Todo</button>
                <!-- When we cancel, return the information back to what it was -->
                <button class="red-button" v-if="editingIndex == index" v-on:click="editTodo({}, -1)">Cancel</button>
                <!-- Add a submit button that updates the old todo -->
                <button class="green-button" v-if="editingIndex == index" v-on:click="putTodo(todo)">Submit</button>
                <button class="red-button" v-if="editingIndex == index" v-on:click="deleteTodo(todo)">Delete</button>
            </div>
            
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>